{
	email home@messy.cloud
}

*.home.messy.cloud {
	tls {
        dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1 8.8.8.8 8.8.4.4
	}

	log {
		level debug
	}

    @not-local not client_ip private_ranges

    @dockge host dockge.home.messy.cloud
	handle @dockge {
		abort @not-local
        reverse_proxy dockge:5001
	}

	@photos host photos.home.messy.cloud
	handle @photos {
		abort @not-local

		reverse_proxy immich:2283
	}

	@music host music.home.messy.cloud
	handle @music {
		abort @not-local

		reverse_proxy navidrome:4533
	}

	@video host video.home.messy.cloud
	handle @video {
		abort @not-local

		reverse_proxy jellyfin:8096
	}

	@memos host memos.home.messy.cloud
	handle @memos {
		abort @not-local

		reverse_proxy memos:5230
	}

	@vault host vault.home.messy.cloud
	handle @vault {
		abort @not-local

		reverse_proxy vaultwarden:80 {
			header_up X-Real-IP {remote_host}
		}
	}

	###################
	# Home Networking #
	###################

    @router host router.home.messy.cloud
	handle @router {
		abort @not-local

		reverse_proxy http://10.10.1.1
	}

	@switch host switch.home.messy.cloud
	handle @switch {
		abort @not-local

		reverse_proxy http://10.10.1.2
	}

    @poe host poe.home.messy.cloud
	handle @poe {
		abort @not-local

		reverse_proxy http://10.10.1.3
	}

	@wifi host wifi.home.messy.cloud
	handle @wifi {
		abort @not-local

		reverse_proxy https://10.10.1.4 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
		}
	}

	@ext host ext.home.messy.cloud
	handle @ext {
		abort @not-local

		reverse_proxy https://10.10.1.6
	}

    handle {
        respond "No" 404
	}
}

:80, :443 {
	handle /helth {
		respond "helth"
	}

	respond "No" 404
}