{
	email {env.EMAIL}
}

*.{env.DOMAIN} {
	tls {
        dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}

	log {
		level debug
	}

    @not-local not client_ip private_ranges

    @dockge host dockge.{env.DOMAIN}
	handle @dockge {
		abort @not-local
        reverse_proxy dockge:5001
	}

	@photos host photos.{env.DOMAIN}
	handle @photos {
		abort @not-local

		reverse_proxy immich:2283
	}

	@music host music.{env.DOMAIN}
	handle @music {
		abort @not-local

		reverse_proxy navidrome:4533
	}

	@video host video.{env.DOMAIN}
	handle @video {
		abort @not-local

		reverse_proxy jellyfin:8096
	}

	@memos host memos.{env.DOMAIN}
	handle @memos {
		abort @not-local

		reverse_proxy memos:5230
	}

	@notes host notes.{env.DOMAIN}
	handle @notes {
		abort @not-local

		reverse_proxy flatnotes:8080
	}

	@vault host vault.{env.DOMAIN}
	handle @vault {
		abort @not-local

		reverse_proxy vaultwarden:80 {
			header_up X-Real-IP {remote_host}
		}
	}

	###################
	# Home Networking #
	###################

    @router host router.{env.DOMAIN}
	handle @router {
		abort @not-local

		reverse_proxy http://10.10.1.1
	}

	@switch host switch.{env.DOMAIN}
	handle @switch {
		abort @not-local

		reverse_proxy http://10.10.1.2
	}

    @poe host poe.{env.DOMAIN}
	handle @poe {
		abort @not-local

		reverse_proxy http://10.10.1.3
	}

	@wifi host wifi.{env.DOMAIN}
	handle @wifi {
		abort @not-local

		reverse_proxy https://10.10.1.4 {
			transport http {
				tls
				tls_insecure_skip_verify
			}
		}
	}

	@ext host ext.{env.DOMAIN}
	handle @ext {
		abort @not-local

		reverse_proxy https://10.10.1.6
	}

    handle {
        respond "No" 404
	}
}

:80, :443 {
	handle /helth {
		respond "helth"
	}

	respond "No" 404
}